# Data Science Tools and Ecosystem #

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List Open source Environment
* Commonly Used Libraries in DS
* Basic Arithmetic Expression Solving
* List Popular languages for Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. TensorFlow

|Data Science Tools|
|----|
|Jupyter Notebook|
|Rstudio|
|Anaconda|
|Microsoft VS Code|

### Below are a few examples of evaluating arithmetic expressions in Python. ###

In [17]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [18]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

### Author ###
Devang Mittal